/* iPhone 4 ----------- */
@media only screen 
and (min-device-width : 640px) 
and (max-device-width : 960px){
/* Styles */
#landing{
	  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size:auto;
}

.view{
	padding-bottom:40px;