@charset "UTF-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	text-decoration:none;
}

a{
	color:#fff;
}

.clr{
	clear:both;
}

html{
	padding-bottom:0px;
}

body{
	font-size:16px;
	line-height:1.6666666667em;
	text-rendering: optimizeLegibility;
	color:rgba(66,66,66,1);	
	color:#fff;
	font-weight:100;
	-webkit-font-smoothing: antialiased;	
}

.container{
	width:1120px;
	margin:0 auto;
}



.left{
	width:346px;
	float:left;
	margin-right:40px;
	margin-top:200px;
}

.right{
	width:734px;
	float:left;
	margin-top:263px;
}

.view .left{
	margin-top:200px;
}

.view .right{
	margin-top:260px;
}

#landing{
	background:url(../img/landing_bg-donker.jpg) 50% 0 no-repeat fixed;
	color: white;
	height:100%;
	min-height: 800px;
	margin: 0 auto;
	padding: 0;
	margin: 0 auto;
	padding: 0;
	width:100%;
	min-height:800px;
	height:100%;
	background-color:#000;
	border-top: 5px solid #ffcc00;
	background:url(http://stijneversdijk.nl/img/landing_bg-donker.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


#landing p{
	width:540px;
	margin-bottom:75px;
}

a.button{
	color:#fff;
	text-decoration:none;
	padding:10px 15px;
	border:4px solid #fff;
	font-family: 'brandon_grotesquebold';
	letter-spacing:0.2em;
	font-size:14px;
	text-transform:uppercase;
}

#statler{
	background: url(http://stijneversdijk.nl/img/statler_01.jpg) 50% 0 no-repeat fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#experience{
	background: url(http://stijneversdijk.nl/img/underleloop.jpg) 50% 0 no-repeat fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#phones{
	background: url(http://stijneversdijk.nl/img/aap.jpg) 50% 0 no-repeat fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#ciy{
	background: url(http://stijneversdijk.nl/img/ciy.jpg) 50% 0 no-repeat fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
	
.view{
	width:100%;
	background-color:#000;
	border-top: 5px solid #459d98;
	background: url(http://stijneversdijk.nl/img/landing_bg-donker.jpg) 50% 0 no-repeat fixed;
	color: white;
	
	min-height:800px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.view h3{
	font-family: 'brandon_grotesquebold';
	font-size:14px;
	line-height:28px;
	text-rendering: optimizeLegibility;
	text-transform:uppercase;
	letter-spacing:0.1em;
	text-align:right;
	color:#459d98;
	-webkit-font-smoothing: antialiased;
}

.view p{
	width:540px;
	margin-bottom:75px;
}

.project{
	width:100%;
	color:rgba(63,63,63,1);
}

.project .right img{
	width:100%;
	margin-bottom:40px;
}

.project .left{
	margin-top:125px;
	padding-bottom:40px;
	
}

.project .left p{
	margin-right:40px;
}

.project .right{
	margin-top:100px;
	float:right;
}

a.back{
	font-family: 'brandon_grotesquebold';
	text-decoration:none;
	color:rgba(63,63,63,0.6);
	border-bottom: 2px solid rgba(63,63,63,0.3);
	letter-spacing:0.2em;
	text-transform:uppercase;
	font-size:12px;
}

.project h2{
	font-size:30px;
	color:rgba(63,63,63,1);
	font-family: 'brandon_grotesquemedium';
	text-align:left;
	letter-spacing:0.2em;
	margin-bottom:70px;
	-webkit-font-smoothing: antialiased;
	 /*//-webkit-text-stroke-width: .05px; //-webkit-text-stroke-color: white; -webkit-font-smoothing:antialiased;*/
}

.project h3{
	font-size:12px;
	font-family: 'brandon_grotesquemedium';
	letter-spacing:0.2em;
	text-transform:uppercase;
	margin-top:50px;
}

.project ul{
	font-family: 'brandon_grotesque_regularRg';
	margin-left:40px;
	list-style-type:square;
}

.project li{
	color:#c5c5c5;
}

.project li span{
	color:rgba(63,63,63,1);
}
	
.project article{
	margin-top:79px;
}

#FixedNavi{
	display:none;
	position:fixed;
	bottom:20px;
	left:20px;
}


#FixedNavi a{
	font-family: 'brandon_grotesquebold';
	text-decoration:none;
	color:#fff;
	font-size:14px;
	padding:2px;
	margin:8px;
	margin-right:40px;
	margin-top:20px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	text-align:right;
	transition: all 800ms;
}

#FixedNavi a:hover{
	opacity:0.6;
}

#projecten-sub{
	display:none;
	position:fixed;
	position:fixed;
	bottom:120px;
	left:30px;
	opacity:0.8;
}

#projecten-sub a{
	font-family: 'brandon_grotesquebold';
	text-transform:uppercase;
	margin-right:20px;
	font-size:12px;
	opacity:0.8;
	transition: opacity 400ms;
	color:#fff;
}

#projecten-sub a:hover{
	opacity:1;
}

#statler-project-hide{
	position:relative;
	top:-800px;
	z-index:999;
}

footer{
	background-color:#000;
}

.right-footer{
	width:734px;
	float:left;
	margin-top:201px;
}
.right-footer h3{
	text-align:left;
	}

footer .left h3{
	color: #ffcc00;
}

@media screen and (min-height: 1024px) {
  #landing {
    min-height:1080px;
  }
}




