@charset "UTF-8";
/* CSS Document */

#landing{
	margin: 0 auto;
	padding: 0;
	width:100%;
	min-height:800px;
	height:100%;
	background-color:#000;
	border-top: 5px solid #ffcc00;
	background:url(http://stijneversdijk.nl/img/landing_bg.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}

#statler{
	width:100%;
	/*min-height:800px;*/
	background-color:#000;
	border-top: 5px solid #459d98;
}

#landing{
	background:url(img/landing_bg.jpg) 50% 0 no-repeat fixed;
	color: white;
	height:100%;
	min-height: 800px;
	margin: 0 auto;
	padding: 0;
}

#statler{
	background: url(img/landing_bg.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 100%;
	min-height:800px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}



